
<div class="container">

  <h3 class="mt-5">Edit Product Record</h3>

  <div class="form-group">
    <label for="url">Product Image</label>
    <input type="text" class="form-control" id="url" [(ngModel)]="data.image" placeholder="Enter Url Image">
  </div>
  <div class="form-group">
    <label for="title">Product Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="data.title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="short">Enter Short Description</label>
    <input type="text" class="form-control" id="short" [(ngModel)]="data.shortDescription" placeholder="Enter Short Description">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" [(ngModel)]="data.price" placeholder="Enter Price">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="md-textarea form-control" rows="4" id="description" [(ngModel)]="data.description"></textarea>
  </div>
  <div class="form-group">
    <label>Visibility</label>
    <select [(ngModel)]="data.visibility" class="form-control">
      <option [ngValue]="1">Da</option>
      <option [ngValue]="0">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success" (click)="update()">Update</button>
  <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>

  <div class="alert alert-danger" role="alert" *ngIf="error" style="margin-top: 14px">
    {{error}}
  </div>
</div>
